/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.envProd
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/public/info.php
/public/googlef006135870f7b2b7.html
tests/CodeCoverage
